@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 27 27 27;
    --foreground: 225 225 225;
    --muted: 115 115 115;
    --accent: 254 254 91;
    /* hex value of rgb(254,254,91) color is  #FEFE5B  */
  }
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }

  .custom-bg {
    @apply bg-background/20 border border-accent/30 border-solid backdrop-blur-[6px] shadow-glass-inset hover:shadow-glass-sm;
  }
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100px, 100px);
  }
}



/* If you want a gradient alternative for special emphasis */
.text-accent-gradient {
  background: linear-gradient(90deg, #3abeff 0%, #0077cc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.bg-accent {
  background-color: #3abeff;
}

/* Gradient blue text - optional for heading highlights */
.text-gradient-blue {
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(19, 80, 88, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/* custom-bg example */
.custom-bg {
  background-color: rgba(25, 40, 50, 0.65);
  backdrop-filter: saturate(180%) blur(10px);
  border: 1px solid rgba(58, 190, 255, 0.3);
}